html, body{
	width: 100%;
	height:100%;
  text-align: center;

}
.skrollr-container{
	width: 90%;
	height:90%;
	overflow:hidden;

}

.spin{
	position:fixed;
	width:100%;
	height:100%;
	top:0%;
	left:0%;
	background-color: coral;
}

a {
	font-size: 50px;
	text-decoration: none;
	color: black;
  font-family: 'Hind Guntur', sans-serif;
  text-align:center;
  right: 20px;
}

.menu2 {
 position: fixed;
 width: 100%;
 height: 10%;
 background-color: none;
 margin-bottom: 0px;
 display: inline;
 bottom: 0;
 right: 30px;
 text-align:right;

}

.number {
 position: fixed;
 width:100%;
 height: 10%;
 background-color: none;
 margin-bottom: 0px;
 top: 0px;
 right: 30px;
 text-align:right;
}




































